extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Gunid = toShow._id 
    - let name = toShow.name 
    - let color  = toShow.color 
    - let weight  = toShow.weight 
    - let actionid = "/resource/Gun/" + Gunid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='GunAttr mr-3') Gun ID is: 
        div #{Gunid} 
      div.row 
        div(class='GunAttr mr-3') Gun Name is: 
        div #{name } 
      div.row 
        div(class='GunAttr mr-3') Gun color is: 
        div #{color } 
      div.row 
        div(class='GunAttr mr-3') Gun weight is: 
        div #{weight } 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home pweight  for the Gun collection 
      window.location.href='/Gun' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Do not need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Guns' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }